@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@plugin "daisyui";


@font-face {
      font-family: 'Carbona Extra Light';
      src: url('./fonts/carbona_extralight.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'Carbona Light';
      src: url('./fonts/carbona_light.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'Diamond Grotesk';
      src: url('./fonts/diamond.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'Diamond Grotesk';
      src: url('./fonts/diamond.woff2') format('woff2');
      font-weight: bold;
      font-style: normal;
}

@font-face {
      font-family: 'Lunchtype';
      src: url('./fonts/lunchtype.woff2') format('woff2');
      font-weight: light;
      font-style: normal;
}

@font-face {
      font-family: 'Lunchtype';
      src: url('./fonts/lunchtype.woff2') format('woff2');
      font-weight: bold;
      font-style: normal;
}

@font-face {
      font-family: 'Inter Display';
      src: url('./fonts/inter_display_light.woff2') format('woff2');
      font-weight: light;
      font-style: normal;
}

@font-face {
      font-family: 'Inter Display';
      src: url('./fonts/inter_display.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'Inter Display Bold';
      src: url('./fonts/inter_display_bold.woff2') format('woff2');
      font-weight: bold;
      font-style: normal;
}



@theme {
      --font-primary: "Diamond Grotesk", sans-serif; 
      --font-secondary: "Inter Display", sans-serif; 
}

@media (prefers-color-scheme: light) {
      :root{
            --color-primary: #f7f7f8;       
            --color-secondary: #171819;      
            --color-accent: #3d8ad9;   
            --color-base-100: #f7f7f7;      
            --color-error: #d62022;
            --color-right: #69d81d;

      }
}

@media (prefers-color-scheme: dark) {
      :root {
            --color-primary: #f5f5f5;       
            --color-secondary: #aabfe2;
            --color-accent: #1968F0;   
            --color-base-100: #171b24;      
            --color-error: #AD0B0B;     
            --color-right: #00674F;
      }
}